{# {{...}}用来标记变量； {% %}用来标记语句，if/for等 #}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<h1>Welcome to {{ username }}'s World!</h1>
<p>This is my loving family!</p>
<img alt="my family" class="family" src="{{ url_for('static', filename='images/family.jpg') }}" height="480" width="640">


<body>
    <h2>This is my diary!</h2>
    <p>{{ diaries|length }} Diaries in Total</p>
    <ul>
        {% for diary in diaries %}
        <li>{{ diary.title }} ----- {{ diary.create_time }}</li>
        {% endfor %}
    </ul>

</body>

